
button{
    cursor: pointer;
    border: 0;
}

:root{
    --main-color-: white;
    --main-color-Brown-: #757575 ;
    --main-color-blue-: #2196F3;
    --main-color-black: #212121;
}

.undefined{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo-color{
    color: var(--main-color-);
}

.is-hidden{
visibility: hidden;
opacity: 0;
pointer-events: none;
display: none;
}

.hiden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


.section{
    @media screen and (max-width: 1199px){
      padding-bottom: 60px;
      padding-top: 60px;
    }
      padding-bottom: 94px;
      padding-top: 94px;
}
.container{
     
    //  padding-left: 30px;
     margin: 0 auto;
     padding: 0 15px;
  @media screen and (min-width: 480px) {
      width: 480px;
  }

  @media screen and (min-width: 768px) {
        width: 768px;
        margin:  auto;
        padding: 0 15px;
  }
  @media screen and (min-width: 1200px) {
         width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;}
}

