body{
    font-family: 'Roboto', sans-serif;
    color: #757575 ;
    margin: 0;
    fill: #757575
    
}

ul{
     list-style: none;
     margin: 0;
     padding: 0;
}

a{
    text-decoration: none;
    color: unset;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.link-anset{
    color: unset;
}

.list{
    padding: 0;
    margin: 0;
    list-style: none;
}

.section--no-padding-top{
    @media screen and (max-width: 1199px){
            display: none;
    }
    @media screen and (min-width: 1200px){
        padding: 0;
    }
    
}

.section--other-background{
background-color: #F5F4FA;
}